<h1>Comments <%= link_to "(Create)", new_comment_path %> </h1>

<p>
  <% @comments.each do |comment| %>
    <p> <%= link_to "#{comment.title}", comment %> </p>
    <p> <%= comment.author %> </p>
    <p> <%= comment.content %> </p>
  <% end %>
</p>
